<div id="post-content" class="mdl-color-text--grey-700 mdl-card__supporting-text fade out">
    <% if(theme.scheme === 'Paradox') { %>
        <%- page.content %>
            <div style="text-align: center;background: #F5F5F5;border-style: 2px solid;border-radius: 10px;">
                <p style="text-align: center;color: #8B8989; ">This work is licensed under</p>
                <a style="text-align: center;" "rel="license " href="https://creativecommons.org/licenses/by-sa/4.0/ ">
                <img style="text-align: center; " alt="Creative Commons License " style="border-width:0 " src="https://forthebadge.com/images/badges/cc-by.svg" /></a>
                <a style="text-align: center;" "rel="license " href="https://creativecommons.org/licenses/by-sa/4.0/ ">
                <img style="text-align: center; " alt="Creative Commons License " style="border-width:0 " src="https://forthebadge.com/images/badges/cc-sa.svg" /></a></br></br>
                <a style="text-align: center; " rel="license " href="https://creativecommons.org/licenses/by-sa/4.0/ ">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
            </div>
    <% } %>

    <% if(theme.scheme === 'Isolation') { %>
        <div class="post-content_wrapper ">
            <p class="post-title ">
                <%- page.title %>
            </p>
            <%- page.content %>
        </div>
    <% } %>
</div>
